.snakemake/
*.png
jupyter.yaml
rclone.conf
data.yaml
viewer-pod.yaml
.venv/
prototype.ipynb
.vscode/
Dockerfile
.dockerignore
benchmarks/
logs/
results/
snakemake-env.yaml
data
.gitignore
full_samples.csv
.gitignore
data2
.gitignore
samplesheet.csv
samplesheet2.csv
warnings.txt
samplesheet_test.csv
.github/copilot-instructions.md
*csv
